body{
	margin: 20px 10px;
}


/*container div, to set everything else relative to*/
.container{
	/*position: relative;*/
	width: 100%;
}

/*a nav bar wrapper, for positiong */
.navwrapper{
	width: 180px;
	position: absolute
}

/* Below is a table class, used to centre the navigation bar vertically */
#navcontainer{
	float: left;
	display: table;
	height: 90%;
	overflow: hidden;
	width: 150px;
	position: fixed;
	border-collapse: collapse
}

#nav{
	display: table-cell;
	vertical-align: middle; 
	/*width: 10%; */
	/*	min-height: 50%;*/
	padding: 5px;
	margin: 20px 0px 0px 0px;
	text-align:center;
}

#nav ul{
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

#nav li{
	margin-bottom:1em;
}

.main{
	left: 180px;
	float: right;
	width: 80%;
	position: absolute;
}

#content{
	max-width: 700px;
    min-width: 100px;
	margin: 0 auto;
}

#title{
	text-align: center;
	width: 100%;
	margin: 0em 0em 3em 0em;
}

#mininav{
	text-align:center;
	margin: 2em 0em;
}

#mininav a{
	margin: 0em 1em;
}

#divider{
	position: fixed;
	float: left;
	left: 160px;
	width: 2px;
	min-height: 85%;
	border-left: 1px solid black;
	margin: 20px 0px 0px 10px;
}

.clear{
	clear: both;
}
